*.pyc
codepatterns.json
*~
celerybeat-schedule
.merge_file*
**/.tracerbullet/*
*tracerbullet*.json
**/data/codetree/*
*.json.gz
**/lastBuild/*
*BASE*
*ORIG*
*BACKUP*
*LOCAL*
*REMOTE*
*\#
**/settings/common.yml
**/venv*/
.checkmate/*
*.db
*.orig
**/.cache/*
**/secrets.yml
.DS_Store
run.sh
quantifiedcode/frontend/tests/screenshots
